[Desktop Entry]
Comment=Adds keyboard shortcuts to KWin to manage virtual desktops.
Icon=preferences-desktop-virtual
Name=Virtual Desktop Tools
Type=Service
X-KDE-PluginInfo-Author=Daniël COX, Clément BALLOT
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=danielcox16@gmail.com
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=virtual_desktop_tools
X-KDE-PluginInfo-Version=1.3
X-KDE-ServiceTypes=KWin/Script
X-Plasma-API=javascript
X-Plasma-MainScript=code/main.js